/*! Avalanche | MIT License | @colourgarden */
/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    LOGIC aka THE MAGIC
\*------------------------------------*/
/*------------------------------------*\
    GRID LAYOUT
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003178}}
.grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  font-size: 0rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003187}}
.grid__item {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}

/*------------------------------------*\
    GRID WIDTHS
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003120}}
.\31\/1 {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\31\/2, .\32\/4, .\36\/12 {
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\31\/3, .\34\/12 {
  width: 33.33333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\32\/3, .\38\/12 {
  width: 66.66667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\31\/4, .\33\/12 {
  width: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\33\/4, .\39\/12 {
  width: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\31\/12 {
  width: 8.33333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\32\/12 {
  width: 16.66667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\35\/12 {
  width: 41.66667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\37\/12 {
  width: 58.33333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\31\30\/12 {
  width: 83.33333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
.\31\31\/12 {
  width: 91.66667%;
}

@media screen and (max-width: 499px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003120}}
  .\31\/1--palm {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/2--palm, .\32\/4--palm, .\36\/12--palm {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/3--palm, .\34\/12--palm {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\32\/3--palm, .\38\/12--palm {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/4--palm, .\33\/12--palm {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\33\/4--palm, .\39\/12--palm {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/12--palm {
    width: 8.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\32\/12--palm {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\35\/12--palm {
    width: 41.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\37\/12--palm {
    width: 58.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\30\/12--palm {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\31\/12--palm {
    width: 91.66667%;
  }
}
@media screen and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003120}}
  .\31\/1--portable {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/2--portable, .\32\/4--portable, .\36\/12--portable {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/3--portable, .\34\/12--portable {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\32\/3--portable, .\38\/12--portable {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/4--portable, .\33\/12--portable {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\33\/4--portable, .\39\/12--portable {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/12--portable {
    width: 8.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\32\/12--portable {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\35\/12--portable {
    width: 41.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\37\/12--portable {
    width: 58.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\30\/12--portable {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\31\/12--portable {
    width: 91.66667%;
  }
}
@media screen and (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003120}}
  .\31\/1--desktop {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/2--desktop, .\32\/4--desktop, .\36\/12--desktop {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/3--desktop, .\34\/12--desktop {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\32\/3--desktop, .\38\/12--desktop {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/4--desktop, .\33\/12--desktop {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\33\/4--desktop, .\39\/12--desktop {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\/12--desktop {
    width: 8.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\32\/12--desktop {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\35\/12--desktop {
    width: 41.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\37\/12--desktop {
    width: 58.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\30\/12--desktop {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/MyRepository\/AJAX-Assignment\/scss\/avalanche\.scss}line{font-family:\00003137}}
  .\31\31\/12--desktop {
    width: 91.66667%;
  }
}

/*# sourceMappingURL=avalanche.css.map */
