@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: auto;
	background-color: lightgrey;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Raleway";
}

#news {
	text-align: center;
	color: white;
}

.flexAllForms {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newsContainer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.showNews {
	height: auto;
	margin: 0.5rem 5px 35px 0;
	display: inline-block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 62px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
}

.showNews p  {
	color: black;
	font-size: 1rem;
	overflow-wrap: break-word;
}

.showNews a {
	overflow-wrap: break-word;
}
#newsOutput {


}

.header-flex1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}



.savedNewsContainer  {
	height: auto;
	background-color: black;
	border: 1px solid blue;
}


.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.pt-15 {
	padding-top: 15px !important;
}
