* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	
	background-color: lightgrey;
}

h1,h2,h4 {
	color: white;
	
}

#news {
	text-align: center;
	color: white;
}

#newsOutput {
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.flexAllForms {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showNews {
	width: 800px;
	height: auto;
	border: 1px solid white;
	margin-top: 50px;
}

.h2-news {
	text-align: center;
}

.header-flex1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 1px solid red;
}

.link-prep {
	color: white;
	font-size: 1rem;
}

.settings {
	border: 1px solid black;
}

.addNews {
	border: 1px solid yellow;
}

.newsOutlet {
	
	border: 1px solid green;
}
