* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	background-color: lightgrey;
}

h1,h2,h4 {
	color: white;
	
}

#news {
	text-align: center;
	color: white;
}

#newsOutput {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.flexAllForms {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.showNews {
	width: 500px;
	height: auto;
	border: 1px solid white;
	margin-top: 50px;
	background-color: white;
}

.h2-news {
	text-align: center;
}

.header-flex1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.link-prep {
	color: white;
	font-size: 1rem;
}

.settings {
	border: 1px solid black;
}

.newsOutlet {
	border: 1px solid green;
}

#newsContainer {
	border: 1px solid red;
}

.savedNewsContainer  {
	height: auto;
	background-color: black;
	border: 1px solid blue;
}


.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.pt-15 {
	padding-top: 15px !important;
}

@media (min-width: 768px) {
    .bootstrap-vertical-nav .collapse {
        display: block;
    }
}

.item-1 {
	background-color: red;
}

.item-2 {
	background-color: blue;
}
